<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Default timeouts for element states in ms -->
    <add key="DefaultWaitTimeout" value="60000"/>
    <add key="PageLocatorsDirectory" value="D:\CalcTests\CalcTests\Pages\XmlLocators"/>
    <add key="CalcExpressionPath" value="D:\CalcTests\CalcTests\TestExpressions.xml"/>
    <add key="ScreenshotDirectory" value="D:\CalcTests\Sreenshots"/>
    <!-- Driver for run. Chrome,Gecko,IE -->
    <add key="Drivers" value="Chrome,Gecko"/>
  </appSettings>
</configuration>